 .game {
    display: flex;
}

body{
    background: #333;
    font-family: 'Oswald', sans-serif;
    color: #CCC;
    text-shadow: 1px 1px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 700px;
    
  }

  button {
    height: 100px;
    width: 100px;
  }
  .content{
    display: flex;
  }